* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #c4c4c4;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.app {
	padding: 1em;
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	font-size: calc(10px + 2vmin);
	color: white;

	&__snackbar {
		font-size: 48px;
	}
}
